@import url(http://fonts.googleapis.com/css?family=Roboto:900,500,100,300,700,400);

* {
    font-family:'Roboto';helvetica,sans-serif;
    color:white;
}

#annoyinghtml {
    background-color:#2182A3;
    transition:background-color 2s;
    -webkit-transition:background-color 2s;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.star {
    background-color:white;
    height:2px;
    width:2px;
    position:absolute;
    border-radius:1000px;
    display:inline-block;
}

#lower {
    width:101%;
    margin-left:-1%;
    position:absolute;
}

#header {
    width:102%;
    margin-left:-1%;
    pointer-events:none;
}

#dirt-top {
    width:102%;
    margin-top:-1%;
    margin-left:-1%;
    pointer-events:none;
}

.dirt {
    width:102%;
    margin-top:-15%;
    margin-left:-1%;
    pointer-events:none;
}

.coolbutton {
    text-shadow:0px 0px 5px #000;
    cursor:pointer;
    display:block;
    text-align:center;
    background-color:#004AB8;
    border-radius:20px;
    margin-left:auto;
    margin-right:auto;
    font-weight:bolder;
    vertica-align:middle;
    transition:border-radius 0.25s, background-color 0.25s;
    -webkit-transition:border-radius 0.25s, background-color 0.25s;
}

#button2, #button3 {
  margin-top:0px;
  top:-15.5px;
  height:40px;
  line-height:40px;
  width:50%;
  font-size:20px;
}

#button {
  margin-top:-0.13%;
  height:9%;
  /*WHY DOES VERTICAL ALIGNMENT HATE ME*/
  line-height:66px;
  width:200px;
  font-size:35px;
  }

#lower-background, lower-content {
    width:101%;
    margin-left:-1%;
    position:absolute;
}

#article1 {
    margin-top:800px;
}

#fixed-crap {
  margin-left:-1%;
  margin-top:-1%;
  height:101%;
  width:101%;
  position:fixed;
  z-index:10000000000000000000;
  pointer-events:none;
}

#header-left, #header-right {
  transition: opacity 0.75s, width 0.5s, position 1s linear 2s;
  -webkit-transition: opacity 0.75s, width 0.5s, position 1s linear 2s;
}

#header-outer * {
  display:inline-block;
}

.header-section {
  margin-left:0.45%;
  margin-right:0.45%;
  width:30%;
  height:50px;
  margin-top:25px;
  display:inline-block;
}

.unstupify {
  margin-left:-35px;
  position:static;
}

#header-outer div img {
  height:45px;
  margin-top:5px;
}

.hidey {
  margin-top:-100px;
}

.unhidey {
  margin-top:-25px;
}

.condense {
  width:1%;
  opacity:0;
  position:absolute;
}

#header-outer:hover {
  width:85%;
}

#header-outer {
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:75px;
  border-radius:5px;
  width:67%;
  text-align:center;
  pointer-events:auto;
  z-index:1000000000000000000000000000000000000;
  background-color:rgba(0, 0, 0, 0.5);
  transition:margin-top 0.5s, width 0.25s;
  -webkit-transition:margin-top 0.5s, width 0.25s;
}

#about {
  background-color:rgba(0, 0, 0, 0.5);
  width:33%;
  margin-left:61%;
  margin-top:1px;
  position:fixed;
  opacity:0;
}

h6 {
  font-size:15px;
  font-weight:500;
  color:#D49E6A;
  margin: 0 0 0 0;
}

.article-outer {
    cursor:pointer;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    margin-top:100px;
    width:90%;
    height:250px;
    z-index:10000000;
    display:block;
    border-radius:40px;
    transition:background-color 0.25s;
    -webkit-transition:background-color 0.25s;
}

.article-outer:active {
    background-color:#fff;
}

.article-back {
    width:100%;
    height:100%;
    border-radius:40px;
    position:absolute;
    z-index:10000;
}

.article-inner {
    position:absolute;
    width:100%;
    height:100%;
    border-radius:40px;
}

.article-text p {
    margin-left:20px;
    font-size:15px;
    color:#FFD3AA;
    font-weight:200;
    text-shadow:0px 0px 10px #000;
}

.article-text h1 {
    margin-left:50px;
    font-size:30px;
    color:#D49E6A;
    font-weight:900;
}

#button:hover, .coolbutton:hover {
    border-radius:2px;
    background-color:#3399FF;
}

.article-image {
    height:100%;
    width:40%;
    float:left;
    display:inline-block;
    position:relative;
    background-position: center center;
    background-size: cover;
    border-top-right-radius:125px;
    border-bottom-right-radius:125px;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px;
}

.article-back:hover {
    opacity:1;
}

.article-back {
    opacity:0.2;
    transition:opacity 0.25s;
    -webkit-transition:opacity 0.25s;
}

.article-text {
    height:100%;
    width:60%;
    float:right;
    display:inline-block;
    position:relative;
    color:white;
    text-shadow:0px 0px 10px #000;
}

#button:active, .coolbutton:active {
    background-color:#FFF;
    border-radius:0px;
}

iframe {
    position:relative;
    height:90%;
    width:100%;
    border:none;
    pointer-events:none;
    margin: 0 0 0 0;
}

#button, .coolbutton {
    position:relative;
}

#stars {
    position:absolute;
    z-index:-1000;
    width:100%;
    height:3000px;
    margin-top:-2000px;
}

#fixed-stuff {
    opacity:0;
    border-radius:10px;
    width:80%;
    height:95%;
    margin-left:10%;
    margin-right:10%;
    background-color:rgba(255, 255, 255, 0.8);
    position:fixed;
    pointer-events:none;
    z-index:100000000000000000;
}

#annoyinghtml:hover {
    background-color:#333333;
}

#loading {
    position:absolute;
    text-align:center;
    font-weight:900;
    color:black;
    font-size:100px;
    margin-left:auto;
    margin-right:auto;
}
